---
import Mortylayout from "../layouts/mortylayout.astro";
import { Image } from "@astrojs/image/components";
import edgar from "../assets/edgar.jpg";
---

<Mortylayout>
  <div>
    <h2>Build with With Love and Astro</h2>
    <Image src={edgar} alt="Edgar" format="webp" />
  </div>
</Mortylayout>
<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
