---
const navigation = [{
    title: 'Home',
    path: '/'
}, {
    title: 'About',
    path: '/about'
}]
---
<nav>
    
    {
        navigation.map((nav) => (
            <a href={nav.path}>{nav.title}</a>
        ))
    }
  </nav>
  <style>
    nav {
        justify-content: center;
    display: flex;
    gap: 1rem;
    background: black;
    align-content: center;
    align-items: center;
    height: 2rem;
}
a {
    color: white
}

a:hover {
    font-weight: bolder;
}

  </style>