---
import Character from "../../components/Character.jsx";
import Mortylayout from "../../layouts/mortylayout.astro";
import Footer from "../../components/footer.vue";

const {id } = Astro.params;
const characterAPIResponse = await fetch(`https://rickandmortyapi.com/api/character/${id}`);
const { name, image } = await characterAPIResponse.json();
---
<Mortylayout>
    <div class="details">
        <Character client:media="max-width:50em"   image={image} name={name}>
            <Footer message="hello from vue"></Footer>
        </Character>
    </div>
</Mortylayout>