---
import Character from "../../components/character.astro";
import Mortylayout from "../../layouts/mortylayout.astro";

const {id } = Astro.params;
const characterAPIResponse = await fetch(`https://rickandmortyapi.com/api/character/${id}`);
const { name, image } = await characterAPIResponse.json();
---
<Mortylayout>
    <div class="details">
        <h3>{name}</h3>
        <Character image={image} name={name}></Character>
    </div>
    
</Mortylayout>